@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
  background: #F7F8F8;
}

@layer base {
  th {
    @apply text-[#6B7280] text-sm font-normal
  }

  td {
    @apply text-[#25272C] text-sm font-normal
  }

  input[type="checkbox"] {
    accent-color: #349F8B;
    border-radius: 5px;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-text {
    @apply text-[#349F8B]
  }

  .primary-bg {
    @apply bg-[#349F8B]
  }

  .primary-border {
    @apply border-[#349F8B]
  }

  .btn-default {
    @apply text-sm text-white font-medium border border-[#349F8B] bg-[#349F8B] rounded-md py-2 px-4
  }

  .btn-seconadry {
    @apply text-sm text-[#8E95A2] font-medium border border-[#8E95A2] bg-white rounded-md py-2 px-4
  }

  .input-default {
    @apply border rounded-md placeholder:text-sm placeholder:text-[#5B616E] p-3 w-full
  }
}