@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
  background: #F7F8F8;
}

@layer base {
  th {
    @apply text-[#6B7280] text-sm font-normal
  }

  td {
    @apply text-[#25272C] text-sm font-normal
  }

  input[type="checkbox"] {
    accent-color: #349F8B;   
    border-radius: 5px; 
}

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}